.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-left {
    width: 20%;
    float: left;
    padding: 15px;
    border: 2px solid red;
}  

.float-right {
    width: 75%;
    float: right;
    padding: 15px;
    border: 2px solid red;
}  