/*--------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.author-box img {
	border-radius: 50%;
	float: top;
    height: 200px;
    width: 200px; 
}
.author-text {
	display: flex;
    font-size: 22px;
    float: top;
	justify-content: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    margin: 20px auto 0 auto;
	border: 3px solid purple;
}

.left-menu {
	display: flex;
    float: left;
	justify-content: center;
    padding-left: 30px;
    position: relative;
	border: 3px solid red;
	width: 25%;
}
.left-menu-elements{
	list-style-type: none;
}
.left-menu-content {
	width: 100%;
	display: flex;
	float: bottom;
	justify-content: center;
	border: 3px solid red;
}

.content {
    width: 75%;
    float: right;
	border: 3px solid red;