/*--------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*--------------------------------------------*/
/* REUSABLE */
/*--------------------------------------------*/
.row{
	max-width: 100%;
	margin: 0 auto;
}

.author-box img {
	border-radius: 50%;
	float: top;
    height: 200px;
    width: 200px; 
}
.author-text {
	display: flex;
    font-size: 22px;
    float: bottom;
	justify-content: center;
}

